<h2 mat-dialog-title>{{ data?.project ? 'Edit' : 'New' }} Project</h2>
<mat-dialog-content class="full-width">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="model.name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="model.description"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
