<h3>{{ task ? 'Edit' : 'New' }} Task</h3>
<form (ngSubmit)="submit()">
    <label>Name</label>
    <input [(ngModel)]="model.name" name="name" required/>
    <label>Description</label>
    <textarea [(ngModel)]="model.description" name="description"></textarea>
    <label>Status</label>
    <select [(ngModel)]="model.status" name="status">
        @for (status of statuses; track status) {
            <option value="{{ status }}">{{ status }}</option>
        }
    </select>
    <label>Assignee</label>
    <!-- <input [(ngModel)]="model.assigneeId" name="assigneeId" type="number" /> -->

    <input
        [(ngModel)]="assigneeSearch"
        name="assigneeSearch"
        (input)="filteredUsers()"
        placeholder="Search by username or email"
    />
    <ul>
        @for (user of filteredUsers(); track user.id) {
            <li (click)="selectAssignee(user)">x
                <div>{{ user.username }}</div>
                <div style="font-size: 12px; color: #888;">{{ user.email }}</div>
            </li>
        }
    </ul>

    <button type="submit">Save</button>
    <button type="button" (click)="close.emit()">Cancel</button>
</form>