.task-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin-top: 16px;
  padding: 8px;
}

.task-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.task-card-footer {
    display: flex;;
    justify-content: start;
    margin-top: 6px;
}

.task-actions {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    gap: 6px;
}
