.tasks {
    padding: 16px;
}

.tasks-header {
    display: flex;;
    justify-content: start;
    gap: 16px;
    margin-bottom: 16px;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
  background-color: #f2f2f2;
}

.tasks-content {
    margin-left: 16px;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 16px;
  margin-bottom: 16px;
}

.tasks-grid > app-task-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.empty-state {
  width: 100%;
  padding: 16px;
  color: gray;
  text-align: center;
}